fastapi
uvicorn
python-multipart
google-genai
pypdf
python-docx
fuzzywuzzy
python-Levenshtein
python-dotenv
requests
sentence-transformers
numpy
pdf2docx
reportlab
Pillow
pdf2image
pytesseract
ocrmypdf
fonttools
pycryptodome
pdf2doi
pymupdf
pymupdf-fonts
pikepdf
httpx
tenacity
regex
